<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Каталог"}  %}
    </head>
    <body>
        {% include "../block/common/navbar/navbar.twig" with {
            view:           'base',
            navbar_prefix:  'navbar__',
            navbar_mod:     'is--index',
            navbar_mod:     '',
            navbar_mod:     'is--scroll',
            active:         page.catalog,
        } %} 
        
        <main class="{{prefix.content}}wrap" style="background-image:url({{path.img}}/bg/main.jpg)">
            {% include "../block/page/page.twig" with {
                view:               'catalog',
                content_prefix:     prefix.content, 
                content:[
                    {
                        view:           'list',
                        container:      'true',
                        mod:            'is--catalog-list',
                        heading:        'Каталог',
                        heading_tag:    'h1',

                        card_view:          'product',
                        card_prefix:        prefix.card,
                        card_mod:           'is--catalog-list',
                        card_list:[
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item1.png"].join(""),
                                name:   'Плодоовощная консервация', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item2.png"].join(""),
                                name:   'Сгущенное молоко ГОСТ и ТУ', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item3.png"].join(""),
                                name:   'Продукция для канала HoReCa', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item4.png"].join(""),
                                name:   'Масло Оливковое и Льняное', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item5.png"].join(""),
                                name:   'Масло подсолнечное с травами и специями', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item6.png"].join(""),
                                name:   'Каши, фрикасе, гарниры', 
                            },
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item7.png"].join(""),
                                name:   'Паштеты', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item7.png"].join(""),
                                name:   'Мясная консервация', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item7.png"].join(""),
                                name:   'Рыбная консервация', 
                            }, 
                            {
                                link:   page.category,
                                img:    [path.img,"/page/catalog/catalog-item7.png"].join(""),
                                name:   'Макаронные изделия', 
                            },  
                        ],
                    },
                ],
            } %}
        </main>

        {% include "../block/common/footer/footer.twig" with {
            view:"base",
            footer_prefix:"footer__"
        } %}

        {% include "../block/common/script/script.twig" %}
    </body>
</html>